# python variables

In [3]:
car_name = "volvo"
print(car_name)

volvo

In [4]:
x = 50
print(x)

50

In [5]:
x = 5
y = 10
print(x+y)

15

In [6]:
x = 5
y = 10
z = x+y
print(z)

15

In [8]:
# illegal character 
#2my-first_name = "john"
myfirst_name = "john"
print(myfirst_name)

john

In [12]:
x = y = z = "amr"
print(x)
print(y)
print(z)

amr
amr
amr

In [18]:
# global scope 
def myfunc():
    global x
x = "fantastic"
myfunc()
print("python is " + x)

python is fantastic

# python data type

In [19]:
x = 5
print(type(x))

<class 'int'>

In [22]:
x = "hello world"
print(type(x))

<class 'str'>

In [23]:
x = 20.5
print(type(x))

<class 'float'>

In [24]:
x =["amr","omar","ahmed"]
print(type(x))

<class 'list'>

In [25]:
x = ("orange","kabab","ma74i")
print(type(x))

<class 'tuple'>

In [26]:
x ={"name":"amr","age":50}
print(type(x))

<class 'dict'>

In [27]:
x = True
print(type(x))

<class 'bool'>

In [29]:
x = 5
x = float(x)
print(x)

5.0

In [30]:
x = 5.5
x = int(x)
print(x)

5

In [31]:
x = 5 
x = complex(x)
print(x)

(5+0j)

# python strings

In [32]:
x = "amr"
print(x)

amr

In [33]:
txt = "hello world"
x = txt[0]
print(x)

h

In [34]:
txt = "hello world"
x = txt[2:4]
print(x)

ll

In [35]:
txt = " hello wolrd "
x = txt.strip()
print(x)

hello wolrd

In [38]:
txt = "hello world"
txt = txt.upper()
print(txt)

HELLO WORLD

In [39]:
txt = "hello world"
txt = txt.lower()
print(txt)

hello world

In [40]:
txt = "hello world"
txt = txt.replace("h","j")
print(txt)

jello world

In [2]:
age = 36 
txt = "my name is amr , and im {}"
print(txt.format(age))

my name is amr , and im 36

# python booleans

In [3]:
print(10>5)

True

In [4]:
print(10==9)

False

In [5]:
print(10<5)

False

In [6]:
print(bool("abc"))

True

In [7]:
print(bool(0))

False

# python operators

In [8]:
print(10*5)

50

In [9]:
print(10/2)

5.0

In [11]:
fruits = ["apple","orange"]
if "apple"in fruits:
    print("yes,apple is a fruit")

yes,apple is a fruit

In [12]:
if 5!=10:
    print("yes,5 is not equal 10")

yes,5 is not equal 10

In [13]:
if 10==5 or 5==5:
    print("at least one of the statments is true")

at least one of the statments is true

# python lists

In [14]:
fruits =["apple","orange","banana"]
print(fruits[1])

orange

In [16]:
fruits = ["apple","orange","banana"]
fruits[0] = "kiwi"
print(fruits[0])

kiwi

In [18]:
fruits = ["apple","orange","cherry"]
fruits.append("kiwi")
print(fruits)

['apple', 'orange', 'cherry', 'kiwi']

In [20]:
fruits = ["apple","orange","kiwi"]
fruits.insert(0,"cherry")
print(fruits)

['cherry', 'apple', 'orange', 'kiwi']

In [22]:
fruits = ["apple","banana","cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [23]:
fruits = ["apple","cherry","banana"]
print(fruits[-1])

banana

In [24]:
fruits = ["apple","mango","cherry","kiwi","kabda","kabab"]
print(fruits[2:5])

['cherry', 'kiwi', 'kabda']

In [25]:
fruits =["apple","orange","mango"]
print(len(fruits))

3

# python tuples

In [26]:
names = ("amr","oamr","ahmed")
print(names[0])

amr

In [31]:
names = ("amr","omar","ahmed")
print(len(names))

3

In [34]:
names =("amr","omar","ahmed")
print(names[-1])

ahmed

In [36]:
names = ("amr","omar","ahmed","bo7san")
print(names[1:4])

('omar', 'ahmed', 'bo7san')

# python sets

In [39]:
names ={"amr","oamr","ahmed"}
if "amr" in names:
    print("yes")

yes

In [43]:
names = {"amr","omar","ahmed"}
names. add("bo7san")
print(names)

{'ahmed', 'omar', 'bo7san', 'amr'}

In [44]:
names ={"amr","omar","khaled"}
more_names = ["loda",'jimmy',"homos"]
names.update(more_names)
print(names)

{'omar', 'homos', 'jimmy', 'amr', 'khaled', 'loda'}

In [45]:
names = {"amr","omar","khaled"}
names.remove("amr")
print(names)

{'omar', 'khaled'}

In [46]:
names = {"amr","omar","ahmed"}
names.discard("omar")
print(names)

{'ahmed', 'amr'}

# python dictionaries

In [55]:
car = {"brand":"ford",
      "model":"mustang",
      "year":1964,
      "color": "red"}
print(car.get("model"))
print(car.get("year"))
car["year"]=2020
print(car.get("year"))
print(car.get("color"))
car.pop("model")
print("model")
car.clear
print("brand")

mustang
1964
2020
red
model
brand

# python if....else

In [56]:
a = 50
b = 10
if a>b:
    print("hello world")

hello world

In [57]:
a = 5
b = 1
if a!=b:
    print("wow")

wow

In [58]:
a = 50
b = 5
if a==b:
    print("yes")
else :
    print("no")

no

In [59]:
a = 50
b = 5
if a==b:
    print("1")
if a>b:
    print("2")
else:
    print("3")

2

In [62]:
a=50
b=50
c=50
d=50
if a==b and c==d:
    print("wal3 el donia")

wal3 el donia

In [63]:
a = 50
b = 50
c = 40
d = 40
if a==b or c==d:
    print("done")

done

In [65]:
# short hand syntax
if 5 > 2:print("five is greater than two")

five is greater than two

In [66]:
# short hand syntax conditional expression
print("yes")if 5 > 2 else print("no")

yes